* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-collapse: collapse;
	font-family: "Segoe UI", sans-serif;
	border: 0;
	vertical-align: center;

}

@font-face {
	font-family: "GothamSSm";
	src: url("../resources/fonts/GothamXNarrow-Bold.woff2");
	font-weight: bold;
	font-style: normal;
}

:root {
	--backround-color: #1E1E1E;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--backround-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	color: #D9D9D9;
	/*font-size: 14px;*/
}

.section-main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.map-wrapper {
	position: relative;
	overflow: hidden;
	width: 80%;
	height: 80%;
	border: #3B3C41 solid 1px;
}

.map-objects {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: all .25s ease-out;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 150px;
}

@media all and (orientation: portrait) {
	.section-main {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 0;
	}

	.map-wrapper {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.map-objects {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		width: 0;
		height: 0;
		overflow: hidden;
	}
}

.button {
	cursor: pointer;
	font-size: inherit;
	border-radius: 14px;
	background-color: #232323;
	text-decoration: none;
	text-align: center;
	width: 100%;
	color: #D9D9D9;
	padding: 4px 12px 4px 12px;
	border: 2px solid #575764;
	transition: all .2s ease;
}

.button:hover {
	border: 2px solid #D9D9D9;
	background-color: #3B3C41;
}

.graph {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	width: 100%;
	/*height: 100%;*/
}

table {
	min-width: 563px;
}

th, tr, td {
	border: 1px solid #575764;
	text-align: center;
	padding: 6px 12px 6px 12px;
}

table tr:not(thead>tr) {
	animation: tr-when-create .05s ease-out;
}

@keyframes tr-when-create {
	0% {
		/*transform: scaleY(0);*/
		padding: 0;
		font-size: 0;
	}
	100% {
		/*transform: scaleY(1);*/
		padding: 6px 12px 6px 12px;
		font-size: initial;
	}
}

.non-active-button {
	pointer-events: none;
	color: #575764;
	border-color: #37373f;
}

.vertex-id {
	position: absolute;
	color: #ce787f;
	font-family: "GothamSSm XNarrow Medium", "Segoe UI", sans-serif;
	border: 1px solid rgba(206, 120, 127, 0.5);
	padding: 2px 4px;
}

.edge-id {
	position: absolute;
	color: #78a88c;
	font-family: "GothamSSm XNarrow Medium", "Segoe UI", sans-serif;
	/*transform: rotate(45deg);*/
	font-size: 14px;
}

/*.select-points {*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	gap: 5px;*/
/*	width: 90%;*/
/*}*/


input {
	color: inherit;
	font-size: inherit;
	background-color: inherit;
	padding: 2px 6px 4px 6px;
	width: 0;
	border: 1px solid #41465d;
	border-radius: 0;
	display: inline-flex;
	flex-grow: 1;
}

.output-found-way {
	font-weight: 500;
}

.selector {
	position: absolute;
	z-index: 10;
	display: none;
	/*display: flex;*/
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	background: #20222DAA;
	border-radius: 10px;
	border: 2px solid var(--backround-color);
	width: 125px;
}


.hidden-selector {
	animation: hide-selector .25s ease forwards;
	display: flex;
}

.showing-selector {
	animation: show-selector .25s ease forwards;
	display: flex;
}

@keyframes show-selector {
	0% {
		transform: translateY(6px);
		opacity: 0;
	}
	99% {
		transform: translateY(0);
		opacity: 1;
		visibility: hidden;
	}
	100% {
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes hide-selector {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	99% {
		transform: translateY(6px);
		opacity: 0;
		visibility: visible;
	}
	100% {
		visibility: hidden;
		transform: translateY(6px);
		opacity: 0;
	}
}

.from-img {
	background: url(../resources/img/from.svg);
	width: 22px;
	height: 21px;
	display: inline-block;
}

.selector-auditoriums, .select-points {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border: 1px solid #34343d;
	border-radius: 8px;
	width: 100%;
}


.input-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px
}

#input-to, #input-from {
	pointer-events: none;
}

.svg-way {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 1;
	width: 100%;
	/*height: 100%;*/
}

.svg-way path {
	/*stroke-dashoffset: 468;*/
	/*stroke-dasharray: 468;*/
	animation: draw-way 1s ease-in-out forwards;
}


@keyframes draw-way {
	100% {
		stroke-dashoffset: 0;
	}
}

.plan {
	/*min-height: 514px;*/
	/*min-width: 514px;*/
}

.plan * {
	transition: fill .25s ease, fill-opacity .25s ease;
}

/*СТИЛИ ДЛЯ ПЛАНА*/
.auditorium:hover:not(.selected) {
	fill: #3D4356;
}

/*noinspection ALL*/
.selected {
	fill: #4A5598;
}

.selected-entrance {
	fill-opacity: 1;
}

.entrance:not(.selected-entrance) {
	fill-opacity: 0;
}

.entrance {
	pointer-events: none;
}

.plan text {
	pointer-events: none;
}

.plan tspan {
	font-family: "GothamSSm", sans-serif;
}

.scale-buttons {
	position: absolute;
	/*width: 50px;*/
	height: 100%;
	top: 0;
	right: 10px;
	/*background-color: #4A5598;*/
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	font-size: large;
	font-weight: bold;
}

.button-plus, .button-minus {
	padding-bottom: 6px;
}

.non-scaling {
	transition: none;
}